/**********************************************
*** GENERAL
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
  
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 700;
    position: relative;
    height: 100vh;
    color: #555;
}
/*Styling the rules*/
.game-rules{
    position: absolute;
    top: 120px;
    padding: 20px 50px;
    margin: 30px;
    box-sizing: border-box;
    
    font-weight: bold;
    font-style: italic;
    border: 1px solid black;
    background-color: white;
    color: black;
  
    box-shadow: inset 3px 3px 3px gray,5px 5px 5px black;
    word-spacing: 2px;
    line-height: 3;
   
}

.rule-heading{
    position: absolute;
    top: 520px;
    color: white; 
    background-color: #3b4a4d;
    text-shadow: 1px 1px gray;
   
    text-transform: uppercase;
    text-align: center;
    font-weight: 1000;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 350px;
   
    margin: 20px 10px;
    left: 0;
    cursor: pointer;
    word-spacing: 2px;
}

.rule-heading:hover{
    background-color: black;
}
.toggle-btn-visible{
    display: block;
}

.toggle-target-hidden{
    display: none;
}

.toggle-target-expanded{
    display: block;
}


/*New styles for rules*/

/*Game name styling */
/*@keyframes nameStyle{
    0%{
        transform: scale(1);
      
    }
    50%{
       
        transform: scale(0.5);
        color: blue;
    }
    100%{
        transform: scale(1);
       
    }
}*/
.game-name{
    position: absolute;
    top: 10px;
    box-sizing: border-box;
    padding: 20px;
    font-weight: 5000;
    left: 30%;
    transform: translateX(-100%);
    font-size: 350%;
    word-spacing: 5;
    text-shadow: 3px 3px 3px black; 
    color:  #28B9B5;
    transform: scale(0.7);
    opacity: 0.9;
    /*animation-name: nameStyle;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;*/
    transition-property: transform,opacity;

}


.game-name:hover{
    transform: scale(1);
    opacity: 1;
}





.wrapper {
    width: 1000px;
   
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    /*overflow: hidden;*/
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 80px;
    font-weight: 500;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #ffcccc; }
.active .player-name { 
    font-weight: 1000; 
    color: red;
}

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; 
    
}
button:hover i { margin-right: 20px; color: white; font-weight: 600;
}

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 100px;
            }
.btn-roll { top: 423px;}
.btn-hold { top: 467px;}

.btn-style:hover{
    background-color:#3b4a4d;
    color: white;
    text-transform: highlight; 
    border-radius: 5px;
    padding: 5px 2px;
}

/*animation effect*/
@keyframes diceAnimation {
    0%{
        transform: translateY(-9999px);
        transform: scale(0.1);
        transform: rotate(360deg);
    }
    25%{
        transform: translateY(0);
        transform: scale(0.25);
        transform: rotate(180deg);
    }
    50%{
        transform: translateY(-6px);
        transform: scale(0.3);
        transform: rotate(0);
    }
    75%{
        transform: translateY(-3px);
        transform: scale(0.5);
        transform: rotate(0);
    }
    100%{
        transform: translateY(0);
        transform: scale(1);
        transform: rotate(0);
    }
}

.dice {
    position: absolute;
    animation-name: diceAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    
    left: 47%;
    top: 178px;
    transform: translateX(-50%);
    height: 70px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}
.dice-2{
    position: absolute;
    animation-name: diceAnimation;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    left: 47%;
    top: 300px;
    transform: translateX(-50%);
    height: 70px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #66a3ff; }
.winner .player-name, .winner .player-score { font-weight: 1000; color: black; text-shadow: 2px 2px white; }

#win-score{
    position: absolute;
    left: 50%;
    top: 520px;
    padding: 7px;
    text-transform: uppercase;
    width: 200px;
    color: black;
    font-weight: bold;
    transform: translateX(-50%);
  
}
